@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  color: white;
  background: #005f73;
  user-select: none;
 
}
[data-theme='dark'],
[data-theme='dark'] body {
  color: white;
  background: #000;
}